@keyframes HoverAnim{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(1deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(-1deg);
    }
    100%{
        transform: rotate(0);
    }
}

body {
    background-color: rgb(192, 232, 245);
    /* gap: 10px; */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#MainList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 80vh;
    width: 80%;
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    margin-top: 70px;
    z-index: 1;
    position: relative;
    border: 2px solid;
}

/* body > * {
    border: 2px solid;
} */

#ToDo-Header {
    grid-column: 1;
    grid-row: 1 / 6;
    background-color: rgb(37, 37, 37);
    color: white;
}

#Logo {
    text-align: center;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

#ToDo-Main {
    grid-column: 2 / 6;
    grid-row: 1 / 6;
    background-color: gray;
}

#ToDo-Main::-webkit-scrollbar {
    display: none;
}

/* #ToDo-Footer {
    grid-column: 2 / 6;
    grid-row: 5 / 6;
    background-color: yellow;
} */

#ToDo-Header-navbar {
    height: 70%;
    font-weight: 500;
    font-size: 20px;
}

.PageLink {
    padding: 25px;
    text-align: center;
    transition: 0.2s;
}

.PageLink:hover {
    cursor: pointer;
    background-color: rgb(102, 102, 102);
}

.ActivePageLink {
    background-color: gray;
}

.Page {
    /* min-height: 100%; */
    scroll-snap-align: start;
    user-select: none;
    /* width: 0;
    height: 0; */
    display: none;
    overflow: hidden;
    transition: 0.2s;
}

.ActivePage {
    width: 100%;
    height: 100%;
    display: flex;
}

.CustomList {
    gap: 20px;
    /* padding: 4px; */
    transition: 0.5s;
    width: 90%;
    scroll-snap-align: start;
    flex: 0 0 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
}
.Task {
    border: 2px solid black;
    border-radius: 10px;
    /* width: 100%; */
    padding: 5px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .Task:hover{
    animation: HoverAnim 2s linear infinite;
} */

/* .Task > * {
    transition: 0.5s;
    padding: 2px;
} */

.Task_Edit {
    display: flex;
    gap: 12px;
}

.Task_Edit > img {
    width: 30px;
}

.CustomListLink {
    flex-shrink: 0;
    padding: 10px;
    transition: 0.2s;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    transform-style: preserve-3d;
}

.CustomListLink:hover {
    box-shadow: inset 0 0 0 2px black;
    cursor: pointer;
    animation: HoverAnim 2s infinite;
}

.CustomListLink:active {
    box-shadow: inset 0 0 0 4px black;
}

.CustomListLink-selected {
    color: rgb(192, 232, 245);
    box-shadow: inset 0 0 0 2px black;
}

#Lists {
    display: flex;
    overflow: auto;
    flex-grow: 1;
}

#Lists::-webkit-scrollbar {
    display: none;
}

.List {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    /* border: 2px solid; */
    background-color: rgb(194, 194, 194);
    border-radius: 15px;
}

#ListNavigation {
    /* margin-top: 10px; */
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    position: relative;
    overflow: auto;
    flex-shrink: 0;
    /* border-bottom: 2px solid; */
}

#CurrentLink {
    height: 5px;
    width: 10px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    bottom: 0;
}

/* #ListNavigation::-webkit-scrollbar {
    display: none;
} */

.ListButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px; */
}

#MainPage {
    flex-direction: column;
}

.CustomListMain {
    width: 80%;
}

#CreateWindow {
    position: absolute;
    width: 500px;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    /* padding: 20px; */
    transition: 0.5s;
    overflow: hidden;
    border: none;
    z-index: 2;
    border-radius: 10px;
}

#MainWindow {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#ListCreateButton {
    cursor: pointer;
}

#BackgroundOverlay {
    width: 0;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.2s;
}

#CloseModal {
    width: 30px;
    height: 30px;
}

#CreateListLink {
    width: 30px;
}

/* .AddFavorite{
    transition: 0.2s;
} */

.Task_Complete {
    display: flex;
    align-items: center;
    gap: 15px;
}

.CompleteTask {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    /* margin: 0;
    padding: 0;
    font-size: 0; */
}

/* .AddComplete::after{
    content: "";
    display: block;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 5px;
} */

.CompleteMark {
    display: none;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    pointer-events: none;
}

.TaskName {
    font-size: 20px;
    font-weight: 600;
}

#ModalTaskName {
    width: 90%;
}

.FilterButtons {
    display: flex;
    gap: 12px;
}

/* .ListButton{
    height: 100%;
} */

.ListButton > img {
    width: 30px;
    height: 30px;
}

.ListButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    transition: 0.3s;
}

.ListButton:hover {
    cursor: pointer;
    background-color: rgb(102, 102, 102);
}

.ListName {
    text-align: center;
    font-size: 24px;
    margin: 16px;
}
